In [13]:
from pathlib import Path
import csv
import pandas as pd
import numpy as np
import datetime as dt


%matplotlib inline

In [14]:
csvpath = Path("budget_data.csv")
records = []

In [27]:
data_csv = pd.read_csv(csvpath)
data_csv.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [31]:
Total_Months= data_csv["Profit/Losses"].count()
Total_Months

86

In [32]:
data_csv["Profit/Losses"].sum()

38382578

In [34]:
data_csv["Profit/Losses"].mean()

446309.0465116279

In [35]:
data_csv["Profit/Losses"].sum()
data_csv['pnl_changes']=data_csv["Profit/Losses"]- data_csv["Profit/Losses"].shift()
data_csv

        Date  Profit/Losses  pnl_changes
0   Jan-2010         867884          NaN
1   Feb-2010         984655     116771.0
2   Mar-2010         322013    -662642.0
3   Apr-2010         -69417    -391430.0
4   May-2010         310503     379920.0
..       ...            ...          ...
81  Oct-2016         102685    -665765.0
82  Nov-2016         795914     693229.0
83  Dec-2016          60988    -734926.0
84  Jan-2017         138230      77242.0
85  Feb-2017         671099     532869.0

[86 rows x 3 columns]

In [36]:
finance = data_csv["pnl_changes"].mean()
finance

-2315.1176470588234

In [37]:
data_csv["pnl_changes"].max()

1926159.0

In [41]:
min_difference= data_csv["pnl_changes"].min()
min_difference

-2196167.0

In [44]:
data_csv.loc[data_csv["pnl_changes"] == data_csv["pnl_changes"].min(), 'Date']

44    Sep-2013
Name: Date, dtype: object